@model SobKichuBookStore.Models.Category
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form action="" method="post">
    <label asp-for="Name" ></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="DisplayOrder" ></label>
    <input asp-for="DisplayOrder" class="form-control" />
    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>

</form>

